/**
 * Contact form
 */
.contact-form {
    max-width: 850px;
    margin: 40px auto;
}

.contact-form__title {
    margin-bottom: 25px;
}

.contact-form .form-group {
    margin-bottom: 55px;
}

.contact-form fieldset {
    margin-top: 10px;
}

.contact-form fieldset:first-of-type {
    margin-top: 0;
}

.contact-form legend {
    margin-bottom: 16px;
}

.contact-form .form-group.contact-form__message {
    margin-bottom: 20px;
}

.contact-form__message > textarea {
    height: 200px;
}

.contact-form__submit {
    display: block;
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border-radius: 2px;
}

.contact-form__terms {
    font-size: 11px;
    color: var(--gray-40);
    margin-bottom: 0;
}

.contact-form__terms > input {
    display: inline-block;
    vertical-align: bottom;
}

.contact-form__terms > input {
    margin-right: 10px;
}

.contact-form .invalid-feedback > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: var(--gray-40);
    margin-right: 3px;
    vertical-align: sub;
}

@media screen and (min-width: 768px) {
    .contact-form {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .contact-form__submit {
        width: 175px;
    }

    .contact-form .form-group {
        margin-bottom: 41px;
    }
}
