body {
    font-family: var(--font-family-sans-serif);
}

/**
 * Headings
 */
h1,
.h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--blue-20);
}

h2,
.h2 {
    font-size: 18px;
    font-weight: 400;
    color: var(--blue-10);
    text-transform: capitalize;
}

/**
 * Links
 */
a,
a:hover {
    color: var(--gray-40);
}

/**
 * Button
 */
.btn,
.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

/**
 * Primary button
 */
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    color: var(--white);
    background-color: var(--ocre-20);
    border-color: var(--ocre-20);
}

.btn-primary.focus,
.btn-primary:focus {
    color: var(--white);
    background-color: var(--ocre-20);
    border-color: var(--ocre-20);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    color: var(--white);
    background-color: var(--ocre-20);
    border-color: var(--ocre-20);
}

/**
 * Success button
 */
.btn-success {
    color: var(--white);
    background-color: var(--success) !important;
    border-color: var(--success) !important;
}

/**
 * Form generics
 */
.form-row {
    margin-left: -12px;
    margin-right: -12px;
}

.form-row > .col,
.form-row > [class*="col-"] {
    padding-right: 12px;
    padding-left: 12px;
}

/**
 * Form control
 */
.form-control {
    font-weight: 600;
    color: var(--gray-40);
    height: 48px;
    border-color: var(--gray-20);
    border-radius: 2px;
    box-shadow: none !important;
}

.form-control:focus {
    color: var(--gray-40);
    border-color: var(--ocre-30);
}

.form-control::placeholder {
    color: var(--gray-30);
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none;
    border-color: var(--gray-20);
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: var(--ocre-30);
}

.invalid-feedback {
    position: relative;
    padding: 0 8px;
    margin: 8px 0;
}

.invalid-feedback::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    width: calc(100% - 16px);
    margin: 0 auto;
    border-bottom: 1px solid var(--gray-20);
}

.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: var(--gray-20);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23F6F6F6'/%3E%3Cpath d='M10.2857 16L6 11.6814L7.20857 10.4635L10.2857 13.5557L16.7914 7L18 8.22649L10.2857 16Z' fill='%2369DFA6'/%3E%3C/svg%3E%0A");
    background-size: 1.5em; /* 16px * 1.5em = 24px */
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    border-color: var(--ocre-30);
}

/**
 * Form checkbox
 */
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
    border: 1px solid var(--gray-20);
    border-radius: 1px;
}

input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.28571 8.81335L0 4.5843L1.20857 3.3917L4.28571 6.41971L10.7914 0L12 1.20105L4.28571 8.81335Z' fill='%232E3133'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: 1em;
    background-repeat: no-repeat;
}

input[type="checkbox"].is-invalid,
.was-validated input[type="checkbox"]:invalid {
    border-color: var(--red);
}
