:root {
    /* Gray palette */
    --gray-10: #F6F6F6;
    --gray-20: #E1E5E5;
    --gray-30: #A7AFAF;
    --gray-40: #2E3133;

    /* Ocre palette */
    --ocre-10: #F5F1ED;
    --ocre-20: #D39F32;
    --ocre-30: #C6942B;

    /* Blue palette */
    --blue-10: #5D8693;
    --blue-20: #2E607F;

    /* Others */
    --white: #FFFFFF;
    --red: #E50E42;
    --green: #69DFA6;

    /* Boostrap overrides */
    --primary: var(--ocre-30);
    --danger: var(--red);
    --success: var(--green);
    --info: var(--blue-20);

    --font-family-sans-serif: "Open Sans", sans-serif;
}
