<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Test - Contact Form</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/vars.css">
    <link rel="stylesheet" href="./css/theme.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <svg style="display: none;" aria-hidden="true">
        <defs>
            <symbol id="form-error" viewBox="0 0 16 16">
                <path d="M7.99999 14.6667C8.73666 14.6667 9.33332 14.07 9.33332 13.3333H6.66666C6.66666 14.07 7.26332 14.6667 7.99999 14.6667ZM12 10.6667V7.33333C12 5.28333 10.91 3.57333 8.99999 3.12V2.66666C8.99999 2.11333 8.55332 1.66666 7.99999 1.66666C7.44666 1.66666 6.99999 2.11333 6.99999 2.66666V3.12C5.08999 3.57333 3.99999 5.28333 3.99999 7.33333V10.6667L2.66666 12V12.6667H13.3333V12L12 10.6667Z" fill="currentColor"/>
            </symbol>

            <symbol id="form-ok" viewBox="0 0 24 24">
                <rect width="24" height="24" rx="12" fill="#F6F6F6"/>
                <path d="M10.2857 16L6 11.6814L7.20857 10.4635L10.2857 13.5557L16.7914 7L18 8.22649L10.2857 16Z" fill="#69DFA6"/>
            </symbol>

            <symbol id="checkbox-active" viewBox="0 0 18 18">
                <rect x="0.5" y="0.5" width="17" height="17" rx="0.5" stroke="#E1E5E5"/>
                <path d="M7.28571 12.8134L3 8.5843L4.20857 7.3917L7.28571 10.4197L13.7914 4L15 5.20105L7.28571 12.8134Z" fill="#2E3133"/>
            </symbol>
        </defs>
    </svg>
    <div id="app">
        <div class="container">
            <form class="contact-form" @submit="submit">
                <h1 class="contact-form__title">Contact form</h1>

                <fieldset>
                    <legend class="h2">Your Details</legend>

                    <div class="form-row">
                        <div class="col-xs-10 col-sm-6">
                            <div class="form-group">
                                <input type="text" placeholder="First Name" class="form-control"
                                       v-model="firstName"
                                       v-bind:class="{'is-valid': firstName}"
                                       name="contact[firstName]"
                                       required>
                            </div>
                        </div>

                        <div class="col-xs-10 col-sm-6">
                            <div class="form-group">
                                <input type="text" placeholder="Last Name" class="form-control"
                                       v-model="lastName"
                                       v-bind:class="{'is-valid': lastName}"
                                       name="contact[lastName]"
                                       required>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-0">
                        <div class="col-xs-10 col-sm-6">
                            <div class="form-group">
                                <input type="email" placeholder="Email" class="form-control"
                                       v-model="email"
                                       v-bind:class="{'is-invalid': errors.email, 'is-valid': !errors.email && email}"
                                       name="contact[email]"
                                       required>
                                <div class="invalid-feedback" v-if="errors.email">
                                    <svg class="icon icon-error"><use xlink:href="#form-error"></use></svg> {{ errors.email }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-10 col-sm-6">
                            <div class="form-group">
                                <input type="tel" placeholder="Telephone - optional" class="form-control"
                                       v-model="phone"
                                       v-bind:class="{'is-valid': phone}"
                                       name="contact[phone]">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend class="h2">Your Message</legend>

                    <div class="form-group contact-form__message">
                        <textarea placeholder="Message" class="form-control"
                                  v-model="message"
                                  v-bind:class="{'is-valid': message}"
                                  id="contact[message]"
                                  name="contact[message]"
                                  required>
                        </textarea>
                    </div>

                    <label class="contact-form__terms">
                        <input type="checkbox" name="contact[acceptTerms]"
                               v-model="acceptTerms"
                               v-bind:class="{'is-invalid': errors.acceptTerms}"
                               required>
                        <span>I accept the <a href="#">Terms & Conditions</a> and have read the <a href="#">Privacy Policy</a></span>
                    </label>
                </fieldset>

                <button type="submit" class="btn btn-primary contact-form__submit"
                    v-bind:class="{'btn-success': success}">
                    <span v-if="!success">Send</span>
                    <span v-else>Thanks you!</span>
                </button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./js/contact.js" defer></script>
</body>
</html>
